body {
    background-color: rgb(79, 97, 97);
}

.custom-nav {
    padding-left: 200px !important;
    padding-right: 200px !important;
    background-color: #222;
}

.block-title {
    background-color: cadetblue;
}

a {
    text-decoration: none;
}